
@{
	ViewBag.Title = "Index";
}

<section class="home img-bg" style="background: url(assets/images/HomeWallpaper.jpg) 0 0; background-size: cover;">
	<div class="overlay opacity3"></div>
	<div class="container">
		<div class="name-block">
			<div class="name-block-container">
				<h1><span>Hi, I'm</span>Vasu Kothapalli</h1>
				<div id="liontextslider" class="owl-carousel owl-theme">
					<div class="item">
						<h2>.NET MVC Developer</h2>
					</div>
					<div class="item">
						<h2>Full Stack Developer</h2>
					</div>
					<div class="item">
						<h2>Front-end Developer</h2>
					</div>
				</div>

				<a target="_blank" href="#" class="btn btn-download">Download Resume</a>
				<ul class="social">
					<li><a href=""><i class="ion-social-facebook"></i></a></li>
					<li><a href=""><i class="ion-social-twitter"></i></a></li>
					<li><a href=""><i class="ion-social-googleplus"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="menu-blocks">
			<div class="about-block menu-block">
				<div class="about-block-container">
					<h2 class="about menu-item">Resume</h2>
				</div>
			</div>
			<div class="portfolio-block  menu-block">
				<div class="portfolio-block-container">
					<h2 class="portfolio menu-item">Portfolio</h2>
				</div>
			</div>
			<div class="blog-block  menu-block">
				<div class="blog-block-container">
					<h2 class="blog menu-item">About</h2>
				</div>
			</div>
			<div class="contact-block  menu-block">
				<div class="contact-block-container">
					<h2 class="contact menu-item">Contact</h2>
				</div>
			</div>
		</div>
		<div class="content-blocks about">
			<section class="content" id="about">
				<div class="block-content">
					<h3 class="block-title">Profile</h3>
					<h3 class="subheading">I'm a <strong>Full Stack & Frontend Developer</strong> from Peoria-IL, US. I aim to make a difference through my creative solution.</h3>
					<p>Microsoft Certified Software professional with 3 years of software industrial experience with strong application development, problem solving and analytical skills. Well versed in several software technologies with experience in custom application development utilizing agile development methodology.</p>
					<div class="info-list row">
						<div class="col-sm-6"><span>Name : </span> Vasu Kothapalli</div>
						<div class="col-sm-6"><span>Date of birth : </span> August 17, 1994 </div>
						<div class="col-sm-6"><span>Address : </span> Peoria, Illinios - United States.</div>
						<div class="col-sm-6"><span>Email : </span> kothapalli.vasu17@gmail.com</div>
						<div class="col-sm-6"><span>Phone : </span> +1 6602384779</div>
						<div class="col-sm-6"><span>Skype : </span> vasukothapalli17</div>
						<div class="col-sm-6"><span>LinkedIn : </span>www.linkedin.com/in/vasu-kothapalli/</div>
						<div class="col-sm-6"><span>Interest : </span> Full Stack Developer, full-time</div>
					</div>
					<img class="sign" src="images/signature.png" alt="" />
				</div>
				<div class="block-content">
					<h3 class="block-title">Skills</h3>
					<label class="progress-bar-label">HTML - <span>4 years experience</span></label>
					<div class="progress">
						<div style="width: 100%;" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<span>100%</span>
						</div>
					</div>
					<label class="progress-bar-label">CSS - <span>4 years experience</span></label>
					<div class="progress">
						<div style="width: 99%;" class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
							<span>99%</span>
						</div>
					</div>
					<label class="progress-bar-label">JavaScript - <span>3 years experience</span></label>
					<div class="progress">
						<div style="width: 99%;" class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
							<span>99%</span>
						</div>
					</div>
					<label class="progress-bar-label">jQuery &amp;Bootstap - <span>3 years experience</span></label>
					<div class="progress">
						<div style="width: 95%;" class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
							<span>95%</span>
						</div>
					</div>
					<label class="progress-bar-label">.NET, MVC &amp;C# - <span>3 years experience</span></label>
					<div class="progress">
						<div style="width: 90%;" class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<span>90%</span>
						</div>
					</div>
				</div>
				<div class="block-content">
					<h3 class="block-title">Experience</h3>
					<div class="timeline experience">
						<div class="row">
							<div class="col-md-12">
								<div class="exp-holder">
									<div class="exp">
										<div class="hgroup">
											<h4><span>Full Stack Developer</span> @@ Pringle Technologies Inc.</h4>
											<h5>Jan 2017 - <span class="current">Present</span></h5>
										</div>
										<p>PringleAPI is a distributed platform providing application programming interfaces for customers to centrally manage their content and assets. As a software engineer I was able to accomplish the following on PringleAPI.</p>
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4><span>Mobile Application Developer</span> @@ Pringle Technologies Inc. </h4>
											<h5>Feb  2016 - Jan 2017</h5>
										</div>
										<p>Wrapped the responsive web application into web viewer components and created iOS and Android Apps. Created side load app distribution strategy of apps on to iOS and Android devices</p>
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4><span>Intern</span> @@ UCM </h4>
											<h5>Aug 2015 - Dec 2015</h5>
										</div>
										<p>Based on the user personas of the defined web survey system created design documentation utilizing UML and Rational Rose. Web survey system was intended to collect feedback on support calls related to users experience on a fictitious customer web application.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-content">
					<h3 class="block-title">Education</h3>
					<div class="timeline education">
						<div class="row">
							<div class="col-md-12">
								<div class="exp-holder">
									<div class="exp">
										<div class="hgroup">
											<h4>MS in Computer Information Systems | <span>University of Central Missouri</span></h4>
											<h5>Aug 2015 - May 2016</h5>
										</div>
										<p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4>Bachelors in Computer Science | <span>JNTU - Anantapur</span></h4>
											<h5>Aug 2011 - May 2015</h5>
										</div>
										<p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-content">
					<h3 class="block-title">Testimonials</h3>
					<div class="row">
						<div id="liontestimonial" class="owl-carousel owl-theme">
							<div class="item testimonials">
								<img src="/assets/images/portfolio/Ravi.jpg" alt="">
								<blockquote>
									This template is exactly what we were looking for!
									<p class="quote"><span>Ravi</span> -Cognizant - Senior Front End Developer</p>
								</blockquote>
							</div>
							<div class="item testimonials">
								<img src="/assets/images/portfolio/Kiran.jpg" alt="">
								<blockquote>
									This template is very nice! Great work
									<p class="quote"><span>Kiran</span> - IBM - Software Developer</p>
								</blockquote>
							</div>
							<div class="item testimonials">
								<img src="/assets/images/portfolio/Vasu.jpg" alt="">
								<blockquote>
									My work has been significantly simplified.
									<p class="quote"><span>Vasu Kothapalli</span> - Pringle Technologies Inc. - Full Stack Developer</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12 btn-email">
						<a class="btn lowercase">kothapalli.vasu17@gmail.com</a>
					</div>
				</div>
			</section>
		</div>
		<div class="content-blocks portfolio">
			<section class="content">
				<div class="block-content">
					<h3 class="block-title">Portfolio</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="filters">
								<span>Filters :</span>
								<ul id="filters">
									<li class="active" data-filter="*">All</li>
									<li data-filter=".artwork">Art Work</li>
									<li data-filter=".webdesign">Web Design</li>
									<li data-filter=".design">Design</li>
								</ul>
							</div>
							<div class="portfolio-container row isotope" id="portfolio-container">
								<!-- WORK 1 START -->
								<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
									<a class="open-project" href="project-1.html">
										<div class="portfolio-column">
											<div class="portfolio-hover">
												<div class="portfolio-content">
													<h2>Chicago</h2>
													<hr>
													<p>View details.</p>
												</div>
												<div class="portfolio-overlay"></div>
											</div>
											<img src="/assets/images/portfolio/IMG_8818.jpg" alt="">
										</div>
									</a>
								</div>
								<!-- WORK 1 END -->
								<!-- WORK 2 START -->
								<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
									<a class="open-project" href="project-2.html">
										<div class="portfolio-column">
											<div class="portfolio-hover">
												<div class="portfolio-content">
													<h2>St.Louis</h2>
													<hr>
													<p>View details.</p>
												</div>
												<div class="portfolio-overlay"></div>
											</div>
											<img src="/assets/images/portfolio/IMG_7756.jpg" alt="">
										</div>
									</a>
								</div>
								<!-- WORK 2 END -->
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12 btn-email">
						<a class="btn lowercase">kothapalli.vasu17@gmail.com</a>
					</div>
				</div>
			</section>
		</div>
		<div class="content-blocks blog">
			<section class="content">
				<div class="block-content">
					<h3 class="block-title">Skills</h3>
					<div class="row">
						<div class="col-md-10 mx-auto">
							
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="content-blocks contact">
			<section class="content">
				<div class="block-content">
					<h3 class="block-title">Get in touch</h3>
					<div class="row">
						<div class="col-md-6">
							<form id="contactForm" data-toggle="validator" class="contact-form shake">
								<div class="form-group">
									<input id="name" type="text" class="form-control" name="Name" autocomplete="off" required data-error="Please enter your name" placeholder="* Your Name">
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input id="email" type="email" class="form-control" name="email" autocomplete="off" required data-error="Please enter your email" placeholder="* Your Email">
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<textarea id="message" class="form-control textarea" rows="10" name="Message" required data-error="Please enter your message subject" placeholder="* Your Message"></textarea>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<button id="submit" type="submit" class="btn selected">Send Message</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
								</div>
							</form>
						</div>

						<div class="col-md-5 offset-md-1">
							<div class="contact-content">
								<div class="contact-icon">
									<i class="ion-ios-location-outline"></i>
								</div>
								<div class="contact-details">
									<h5>Address</h5>
									<p>Peoria, Illinios, US</p>
								</div>
							</div>
							<div class="contact-content">
								<div class="contact-icon">
									<i class="ion-ios-telephone-outline"></i>
								</div>
								<div class="contact-details">
									<h5>Call Us</h5>
									<p> <a href="#">+1 6602384779</a></p>
								</div>
							</div>
							<div class="contact-content">
								<div class="contact-icon">
									<i class="ion-ios-email-outline"></i>
								</div>
								<div class="contact-details">
									<h5>Enquiries</h5>
									<p>kothapalli.vasu17@gmail.com</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<!--Google Map-->
							<div id="map"></div>
							<!--Google Map End-->
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="content-blocks pop">
			<div id="close-pop" class="close-pop">Close <i class="ion-ios-close-empty"></i></div>
			<section class="content"></section>
		</div>
	</div>
</section>


