<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Portfolio | Vasu Kothapalli </title>
	<meta name="description" content="Professional Software Developer">
	<meta name="author" content="LionCoders" />
	<link rel="icon" href="/assets/images/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link rel="stylesheet" href="/assets/css/plugins.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen" />
</head>
<body>
	<div class="preloader">
		<div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
	</div>
	<div class="preloader-left"></div>
	<div class="inline-menu-container">
		<span class="status">Actively looking for Full Stack Developer</span>
		<ul class="inline-menu">
			<li class="about menu-item">Resume</li>
			<li class="portfolio menu-item">Portfolio</li>
			<li class="blog menu-item">Blog</li>
			<li class="contact menu-item">Contact</li>
			<li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
		</ul>
	</div>
	@RenderBody()
	<script src="/assets/js/plugins.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmsb2nGLuIl04bt7CWJozRMhThvGa3y1w"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>